---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/Products/2011-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AKIAIVHVPRCMH5UWD4HA&Action=GetMatchingProductForId&IdList.Id.1=035585800158&IdType=UPC&MWSAuthToken=amzn.mws.6eb293fe-7935-feb0-f562-4c4650cff837&MarketplaceId=ATVPDKIKX0DER&SellerId=AAQHWTH7HF8BV&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2021-06-04T16%3A05%3A01Z&Version=2011-10-01&Signature=gZwr6bHDtzNmU3Q%2BOuZ0NEgum02%2F9wjyZwhREtLKLxA%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amz-Rid:
      - QJWE45TTVJB3HBKMX2FV
      X-Mws-Quota-Max:
      - '18000.0'
      X-Mws-Quota-Remaining:
      - '18000.0'
      X-Mws-Quota-Resetson:
      - '2021-06-04T16:32:00.000Z'
      X-Amz-Date:
      - Fri, 04 Jun 2021 16:05:02 GMT
      X-Mws-Request-Id:
      - 92a30ebb-cd2f-41a4-9241-87a6414a405c
      X-Mws-Timestamp:
      - '2021-06-04T16:05:02.113Z'
      X-Mws-Response-Context:
      - LxW6TL7t8+Gao5KYvDcRcov6mlbQkznfhdmi5Re+rWMkDcDfwMTfdnklXCRy7lIjz5ocqSEJ3kw=
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0"?><GetMatchingProductForIdResponse xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01"><GetMatchingProductForIdResult
        Id="035585800158" IdType="UPC" status="Success"><Products xmlns:ns2="http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd"><Product><Identifiers><MarketplaceASIN><MarketplaceId>ATVPDKIKX0DER</MarketplaceId><ASIN>B005HE1OMW</ASIN></MarketplaceASIN></Identifiers><AttributeSets><ns2:ItemAttributes
        xml:lang="en-US"><ns2:Binding>Misc.</ns2:Binding><ns2:Brand>KONG</ns2:Brand><ns2:ItemDimensions><ns2:Height
        Units="inches">2.70</ns2:Height><ns2:Length Units="inches">8.50</ns2:Length><ns2:Width
        Units="inches">4.30</ns2:Width><ns2:Weight Units="pounds">0.45</ns2:Weight></ns2:ItemDimensions><ns2:Label>Kong</ns2:Label><ns2:ListPrice><ns2:Amount>10.99</ns2:Amount><ns2:CurrencyCode>USD</ns2:CurrencyCode></ns2:ListPrice><ns2:Manufacturer>Kong</ns2:Manufacturer><ns2:Model>382998</ns2:Model><ns2:PackageDimensions><ns2:Height
        Units="inches">2.9133858238</ns2:Height><ns2:Length Units="inches">9.3700787306</ns2:Length><ns2:Width
        Units="inches">5.1968503884</ns2:Width><ns2:Weight Units="pounds">0.44</ns2:Weight></ns2:PackageDimensions><ns2:PackageQuantity>1</ns2:PackageQuantity><ns2:PartNumber>382998</ns2:PartNumber><ns2:ProductGroup>Pet
        Products</ns2:ProductGroup><ns2:ProductTypeName>PET_TOY</ns2:ProductTypeName><ns2:Publisher>Kong</ns2:Publisher><ns2:SmallImage><ns2:URL>https://m.media-amazon.com/images/I/51Xi07T9oaL._SL75_.jpg</ns2:URL><ns2:Height
        Units="pixels">75</ns2:Height><ns2:Width Units="pixels">75</ns2:Width></ns2:SmallImage><ns2:Studio>Kong</ns2:Studio><ns2:Title>Kong
        Company Kong Camo Wubba Large - Wm1</ns2:Title></ns2:ItemAttributes></AttributeSets><Relationships/><SalesRankings><SalesRank><ProductCategoryId>pet_products_display_on_website</ProductCategoryId><Rank>187632</Rank></SalesRank><SalesRank><ProductCategoryId>2975414011</ProductCategoryId><Rank>2079</Rank></SalesRank></SalesRankings></Product><Product><Identifiers><MarketplaceASIN><MarketplaceId>ATVPDKIKX0DER</MarketplaceId><ASIN>B00HYER594</ASIN></MarketplaceASIN></Identifiers><AttributeSets><ns2:ItemAttributes
        xml:lang="en-US"><ns2:Binding>Misc.</ns2:Binding><ns2:Brand>KONG</ns2:Brand><ns2:Label>Kong</ns2:Label><ns2:Manufacturer>Kong</ns2:Manufacturer><ns2:Model>Kong
        Company 292[...]
